<footer class="main-footer">
    <div class="footer-content">
        <span class="copyright">
            © 2026 APPA Licitações
        </span>

        <a href="#" class="footer-link">
            Política de Privacidade
        </a>

        <a href="#" class="footer-link">
            Termos de Uso
        </a>

        <a href=https://wa.me/5521986277603?text=Olá%20Albert,%20vi%20seu%20sistema%20APPA%20e%20gostaria%20de%20conversar." class="whatsapp-link">
            Fale pelo WhatsApp
        </a>
    </div>
</footer>